.slide h4 {
	color: white;
}

.slide h2 {
	color: white;
}

.slide p {
	color: white;
}

.slide h1 {
	color: white;
	font-size: xx-small;
}

.slide li {
	color: white;
}

.slide {
	background-color: #1B1B1D;
}
